<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Solvemate Coding Challenge{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style media="screen">
      /* TODO: move me to a CSS file */
      body{
        padding: 20px 40px;
        color: #4D29D8;
      }
      .btn-primary {
        background-color: #6A3DCA;
        border-color: #002993;
      }
      .btn-primary:hover {
        background-color: #002993;
        border-color: #002993;
      }
      .sectionheader{
        margin-top: 40px;
      }
      .givemesomemargin{
        margin-top: 20px;
      }
      {% block extra_style %}{% endblock %}
    </style>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            <i class="fas fa-check-square"></i>
            Solvemate Coding Challenge
          </h1>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div><!-- /container -->
  </body>
</html>
