{% extends "webclient/base.html" %}

{% block content %}

  <div class="row sectionheader">
    <div class="col-lg-12">
      {% if dataset %}
      <div class="alert alert-info">
        <i class="fas fa-file-alt"></i>
        <strong>{{ dataset.name }}</strong>
        <pre>{{ dataset.path }}</pre>

        <i class="fas fa-table"></i>
        {{ dataset.size }} rows
      </div>
      {% else %}
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        There is no dataset loaded.
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row sectionheader">
    <div class="col-lg-12">
      <h2>Load Dataset</h2>
    </div>
  </div>

  <div class="row givemesomemargin">
    <div class="col-lg-12">

        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}

        {% if success_message %}
        <div class="alert alert-success">
            <i class="fas fa-check"></i>
            {{ success_message }}
        </div>
        {% endif %}

      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ form.name.label }}</label>
          <div class="col-sm-6">
            {{ form.name }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.dataset_file.id }}" class="col-sm-2 col-form-label">{{ form.dataset_file.label }}</label>
          <div class="col-sm-6">
            {{ form.dataset_file }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.load.id }}" class="col-sm-2 col-form-label">{{ form.load.label }}</label>
          <div class="col-sm-6">
            {{ form.load }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 offset-sm-2">
            <button type="submit" class="btn btn-primary mb-2">Upload</button>
          </div>
        </div>
      </form>


    </div>
  </div>


{% endblock %}
