{% extends "webclient/base.html" %}

{% block extra_head %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = google.visualization.arrayToDataTable([
         ['Year', 'Distribution', { role: 'style' }],
         {% for elem in data.results %}
         ['{{ elem.year }}', {{ elem.count }}, '#4D29D8'],
         {% endfor %}
        ]);

        // Set chart options
        var options = {
          'title':'Distribution per year',
          'height': 800,
          'bar': {'groupWidth': '95%'},
          'legend': { position: 'none' }
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block content %}
 {{ data }}
  <div class="row">
    <div class="col-lg-12" id="chart_div">
    </div>
  </div>
{% endblock %}
