{% extends "webclient/base.html" %}

{% block extra_head %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

         {% for elem in data.results %}

            // Create the data table.
            var data = google.visualization.arrayToDataTable([
             ['Year', 'Distribution', { role: 'style' }],
             {% for dist in elem.distribution %}
             ['{{ dist.year }}', {{ dist.count }}, '#4D29D8'],
             {% endfor %}
            ]);

            // Set chart options
            var options = {
              'title':'Distribution per year in zip code: {{ elem.zip_code }}',
              'height': 800,
              'bar': {'groupWidth': '95%'},
              'legend': { position: 'none' }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_{{ elem.zip_code }}'));
            chart.draw(data, options);
        {% endfor %}

      }
    </script>
{% endblock %}

{% block content %}

  <div class="row sectionheader">
    <div class="col-lg-12">
      <h2>Distribution per year per zip code</h2>
    </div>
  </div>

  <div class="row givemesomemargin">
    <ul>
    {% for elem in data.results %}
        <li>
            <a href="#chart_div_{{ elem.zip_code }}">
                Distribution for {{ elem.zip_code }}
            </a>
        </li>
    {% endfor %}
    </ul>
  </div>

  <div class="row">
    {% for elem in data.results %}
        <div class="col-lg-12" id="chart_div_{{ elem.zip_code }}"></div>
    {% endfor %}
  </div>
{% endblock %}
